MEZON_TOKEN=
DATABASE_URL=
AI_API_KEY=
AI_MODEL=
AI_MAX_TOKENS=
AI_SYSTEM_PROMPT=

BOT_NAME=FUMO
BOT_ID=1840680963412070400
AI_MAX_TOKENS=
OPENAI_API_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=